

:root {
    --white: #fff;
    --black: rgb(0, 0, 0);
    --gray: #484848;
}

body{
    margin: 0;
}

main{
    max-width: 1300px;
    margin: 0 auto;
}


.main-header{
    padding: 20px 75px;
    background-color: rgb(65, 59, 238);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__title > a {
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    margin-bottom: 70px;
    padding: 0px 60px 0px;
}

.first{
    padding: 100px 60px 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first > p{
    padding: 1em 0em
}

.fake-h1{
    font-size: 40px;
    font-weight: 500;
}

footer{
    background-color: black;
}

@media (max-width: 1000px){
    .navbar__menu{
        display: none;
    }

    section{
        padding: 0px 20px 0px;
    }
}

@media (min-width: 1000px){

 
.navbar__menu{
    display: flex;
    list-style: none;
}

.navbar__menu > ul {
    display: flex;
    list-style: none;
}

.navbar__menu  li  a{
    color: white;
    margin-left: 25px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;

}

.navbar__menu  li  a:hover{
    color: white;
    margin-left: 25px;
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
}

}

.navbar__list{
    transform: translateX(1000px);
    transition: 0.35s;
    position: absolute;
    background-color: var(--gray);
    list-style-type: none;
    left: 0;
    right: 0;
    top: 5em;
    padding: 0;
    text-align: center;
}

.navbar__list.active{
   transform: translateX(0);
   transition: 00.35s;
}

.navbar__list li {
    padding-bottom: 8px;
    border-bottom: rgb(0, 0, 0) 5px solid;
    padding: 15px;

}

.navbar__list li a {
    color: white;
    text-decoration: none;
}

footer{
    padding: 1em 3em;
}

.ending{
    background-color: var(--black);
    color: var(--gray);
}

.ending__email{
    color: #484848;
    display: block;
    margin-bottom: 20px;
}

.ending__logo{
    opacity: 20%;
}