@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;400;700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,800&family=Kanit:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --white: #fff;
    --blue: rgb(69, 63, 226);
    --gray: #484848;
}

html {
    scroll-behavior: smooth;
    font-family: 'Kanit', sans-serif;
font-family: 'Kanit', serif;
  }


h1{
    font-size: 40px;
    font-weight: 500;
}

h2{
    font-size: 24px;
    font-weight: 400;
}

h3, h4, h5, h6{
    font-weight: 400;
}

.button{
    padding: 10px 50px;
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 40px;
    border: solid 3px var(--blue);
    width: 120px;
    text-align: center;
    margin: 3em 0;
    display: block;
}

.button--hover{
    
    background-color: var(--white);
    color: var(--blue);
}

.button:hover{
    padding: 10px 50px;
    background-color: var(--white);
    color: var(--blue);
    border-radius: 40px;
    border: solid 3px var(--blue);
    transition: 0.2s 0s;
}

table{
    border-collapse: collapse;
    display: table;
    width: 100%;
}

thead{
    background-color: var(--blue);
    color: white;
}

th, td{
    
    border: solid 2px var(--blue);
    border-collapse: collapse;
    text-align: center;
}

/*Images*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2px;
    transition: 0.3s;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery__block {
    overflow: hidden;
    width: fit-content;
    margin: 0;

}

.gallery__block:hover .gallery__caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.gallery__block a {
    display: block;
    transition: 0.3s;
    position: relative;
    height: 100%;
}

.gallery__block img {
    transition: 0.3s;
    display: block;
    flex: 1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__block a:hover img {
    transform: scale(1.07);
    transition: 0.3s;
}

figure .gallery__caption {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .gallery__block a {
        height: 100%;
    }

    .gallery__block {
        flex: 1;
    }

}

